*.aux
*.log

I,U-curve-LED_bb.svg
I,U-curve-LED_schem.svg
mvc-model.pdf
mvc-model.svg
mvc-model-concreet.pdf
mvc-model-concreet.svg
adc-process.pdf
adc-process.svg
layout-schematic.pdf
layout-schematic.svg
layout-schematic_p?.svg
LED-schakeling.pdf
LED-schakeling.svg
p-n-overgang.pdf
p-n-overgang.svg
p-n-overgang_p2.svg
PV-measurement_bb.svg
PV-schakeling.pdf
PV-schakeling.svg
PV-vervang-schakeling.pdf
PV-vervang-schakeling.svg
I,U-curve-resistor.pdf
I,U-curve-resistor.svg
