#click_box {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}

#display_box {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    float: left;
    margin-left: 100px;
}

.datapoint {
    height:10px;
    width: 10px;
    background-color: #4051b5;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.border_zone {
    outline: 10px solid white;
    width: 400px;
    height: 400px;
    position: relative;
    float: left;
}