#click_box {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}

.datapoint {
    height:10px;
    width: 10px;
    background-color: #4051b5;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.border_zone {
    outline: 10px solid white;
    width: 500px;
    height: 500px;
    position: relative;
}