.dropdown_box {
    height: 1.2rem;
    transition: 0.3s;
}

svg.dropdown_box:hover {
    fill: yellow;
}

.dropdown_container {
    display: flex;
    /* float: right; */
    margin: .2rem;
    padding: .4rem;
}

.dropdown_wrapper {
    display: grid;
    place-items: center;
    width: 21.2rem;
    float: right;
}

div.invisible {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.cheatsheet {
    transition: 0.3s;
}