div.hidden {
    display: none;
}

button.run {
    transition: 0.3s;
}

button.run:hover {
    color: green;
}

button.reload {
    transition: 0.3s;
}

button.reload:hover {
    color: red;
}


span.invisible {
    visibility: hidden;
}

button.invisible {
    display: none;
}