.range_labels {
  font-size: 25px;
  min-width: 5%;
}

.range-wrap {
  position: relative;
  margin: 0 auto 0rem;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  width: 85%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #00addc;
  cursor: pointer;
}
.range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00addc;
  cursor: pointer;
}

.bubble {
  background: #4051b5;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none; 
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: #4051b5;
  bottom: -2px;
  left: 50%;
}
.bubble_below::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: #4051b5;
  top: -2px;
  left: 50%;
}