.flashcards_container {
    overflow: hidden;
    position: relative;
    height: 375px;
}

.flashcard_element {
    padding-top: 16px;
}

.texteditor_container {
    overflow-y: scroll; 
    height: 375px; 
    padding-left: 5%;
}